<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Homepage</title>
  </head>
  <body>
    <%- include('./partials/nav') %> <% if (locals.user) { %> <%- "Subscribe" %>
    <% } else { %> <%- "login" %> <% } %> <%- include('./partials/script') %>
  </body>
</html>
