<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Homepage</title>
  </head>
  <body>
    <%- include('./partials/nav') %>

    <% if (locals.user) { %>
      <% if (isSubscribed === true) { %>
        <%- include('./partials/subscriberLoggedSub') %>
      <% } else { %>
        <%- include('./partials/subscriberLoggedNotSubscribed') %>
      <% } %>
    <% } else { %>
      <%- include('./partials/subscriberNotLogged') %>
    <% } %>

    <%- include('./partials/script') %>
  </body>
</html>
